/***
************************* userInfoCardTemplate1.html *******************************/
ul.no-bullets {
	list-style-type: none;
}

.video-left {
	margin-left: -15%;
}
.video-top {
	margin-top: -8%;
}

.person-ok {

}
.person-warning {
	color: yellow;
}
.person-problem {
	color: orange;
}
.person-error {
	color: red;
}

.highlight {
	color: #A80000;
}