
<div>
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">AngularJS Google 
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li ui-sref-active="active"><a ui-sref="Google.userInfoCard">User Info Card</a></li>
				<li role="separator" class="divider"></li>
				<li ui-sref-active="active"><a ui-sref="Google.userInfoCard1">User Info Card 1</a></li>
				<li role="separator" class="divider"></li>
				<li ui-sref-active="active"><a ui-sref="Google.video">Video</a></li>
				<li role="separator" class="divider"></li>
				<li ui-sref-active="active"><a ui-sref="Google.userTile">User Tile</a></li>
			</ul>
		</li>
		<li ui-sref-active="active"><a ui-sref="Google.home">Awesome</a></li>
		<li ui-sref-active="active"><a>About</a></li>
		<li ui-sref-active="active"><a>Contact</a></li>
	</ul>
</div>