
<div>
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">AngularJS Commit
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li ui-sref-active="active"><a ui-sref="Commit.userInfoCard">User Info Card</a></li>
				<li role="separator" class="divider"></li>
				<li ui-sref-active="active"><a ui-sref="Commit.infoCard">Info Card</a></li>
				<li role="separator" class="divider"></li>
				<li ui-sref-active="active"><a ui-sref="Commit.video">Video</a></li>
				<li role="separator" class="divider"></li>
				<li ui-sref-active="active"><a ui-sref="Commit.userTile">User Tile</a></li>
				<li role="separator" class="divider" ng-show="false"></li>
				<li ui-sref-active="active"><a ui-sref="Commit.myQuestion" ng-show="false">Questionnaire</a></li>
				<li role="separator" class="divider"></li>
				<li ui-sref-active="active"><a ui-sref="Commit.trafficLight">Traffic Light</a></li>
				<li role="separator" class="divider"></li>
				<li ui-sref-active="active"><a ui-sref="Commit.grid">Grid</a></li>
			</ul>
		</li>
		<li ui-sref-active="active"><a ui-sref="Commit.home">Awesome</a></li>
		<li ui-sref-active="active"><a ui-sref="Commit.books">BookLogger</a></li>
		<li ui-sref-active="active"><a>Contact</a></li>
	</ul>
</div>
